
<h1>burasi partial add comment</h1>

<div class="comment-top">
    <h4>Yorum Yapin</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="UserName" placeholder="kullanici adi" required="">
            <input class="form-control" type="text" name="Title" placeholder="baslik" required="">

            <textarea class="form-control" name="Content" placeholder="yorumunuz" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">yorum yap</button>
        </form>
    </div>
</div>